form{
    display: flex;
    justify-content: center;
}
.container{
    max-width: 30rem;
}

img{
    width: 100%;
}

button{
    float: right;
    padding: .5rem 1rem;
    background: rgb(57, 177, 207);
    border: 1px solid rgb(143, 143, 143);
    border-radius: .5rem;
    color: #fff;
    cursor: pointer;
}button:hover{
    opacity: .8;
}